<h1 *ngIf="this.editor">{{ this.editor.nom }}</h1>
<h2>Details :</h2>

<form *ngIf="editorGroup" [formGroup]="editorGroup" (ngSubmit)="validate()">
  <label>Name: <input type="text" formControlName="name" /></label>
  <label>Societe : <input type="text" formControlName="societe" /></label>
  <label>Contact : <input type="text" formControlName="contact" /></label>
  <button type="submit" [disabled]="!editorGroup.valid">Submit</button>
</form>

<button (click)="delete()">Delete</button>

<app-jeux-list
  [jeux]="jeux"
  (emitUpdatedJeu)="updateJeu($event)"
></app-jeux-list>

<app-jeux
  [jeu]="selectedJeu"
  (emitUpdateJeu)="updateJeuDb($event)"
  (emitDeleteJeu)="deleteJeu($event)"
></app-jeux>
