<h1 *ngIf="this.festival">{{ this.festival.name }}</h1>
<h2>Details :</h2>

<form *ngIf="festivalGroup" [formGroup]="festivalGroup" (ngSubmit)="validate()">
  <label>Name: <input type="text" formControlName="name" /></label>
  <label
    >Tables d'entrées : <input type="number" formControlName="tablesEntree"
  /></label>
  <label
    >Prix d'entrée : <input type="number" formControlName="entrancePrice"
  /></label>
  <button type="submit" [disabled]="!festivalGroup.valid">Submit</button>
</form>

<th><button (click)="delete()">Delete</button></th>

<app-editor-list
  [editors]="editors"
  [readonly]="true"
  (emitUpdatedEditor)="selectEditor($event)"
></app-editor-list>

<label>Add an editor :</label>
<select (change)="onEditorSelected(val.value)" #val>
  <option default value="null">Select an editor</option>
  <option *ngFor="let ed of restEditors" [value]="ed.id">
    {{ ed.nom }}
  </option>
</select>
<button (click)="addEditor()">Add Editor to this festival</button>

<app-editor
  *ngIf="editor.nom"
  [editor]="editor"
  [readonly]="true"
  (emitRemoveEditor)="removeEditor($event)"
></app-editor>
